*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100%;
} 

/* Navation bar */
.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background: #c5c6c3;
}

.btn1{
    height: 40px;
    width: 150px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    gap: 10px;
    border-radius: 50px;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
    color: black;
    border: 2px solid #136C0F;
    cursor: pointer;
} 

.btn1 a{
    color: #000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    transition: .2s;
}

.btn1 i{
    color: white;
    font-size: 1.2rem;
}
.btn1:hover{
    background-color: #136C0F;
}

.btn1:hover a{
    color: white;
}

.btn2{
    height: 40px;
    width: 150px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    gap: 10px;
    border-radius: 50px;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
    color: black;
    border: 2px solid #00358D;
    cursor: pointer;
} 

.btn2 a{
    color: #000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    transition: .5s;
}

.btn2 i{
    color: white;
    font-size: 1.2rem;
}
.btn2:hover{
    background-color: #00358D;
}

.btn2:hover a{
    color: white;
}

.title{
    font-size: 30px;
    font-weight: 700;
    background:linear-gradient(167deg,#136C0F 25%,#00358D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.menu li a{
    font-size: 17px;
    padding: 8px;
    color: #000;
}

.menu li a:hover{
    background:linear-gradient(167deg,#136C0F 25%,#00358D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Contact Page */


.contact{
    min-height: 100vh;
    background:linear-gradient(167deg,#136C0F 5%,#00358D 90%);
    padding: 50px;
    text-align: center;

}
.container{
    background-color: #e1e6e93d;
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 2%;
    
}

.container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: #0c0c0c;
}

.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.contact-form{
    text-align: left;
}

.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #12a6eb;
}

.form-group{
    margin-bottom: 20px;
}

input, textarea{
     width: 100%;
     padding: 12px;
     border-radius: 8px;
     border: none;
     background-color: #f8f9fa;
     color: #333;
}

input:focus,
textarea:focus{
    outline:none;
    box-shadow: 0 0 8px #00358D;
}

button{
    display: inline-block;
    height: 40px;
    width: 150px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    gap: 10px;
    border-radius: 50px;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
    color: rgb(241, 233, 233);
    border: 2px solid #00358D;
    cursor: pointer;
}

button:hover{
    background-color: #136C0F;
}

.contact-info{
    text-align: left;
}

.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #f4efef;
}

.contact-info p{
    margin-bottom: 10px;
    color: #f1ebeb;
}

.contact-info i{
    color: #12a6eb;
    margin-right: 10px;
}

@media screen and(max-width: 768px){
    .container{
        padding: 20px;
    }
    .contact-wrapper{
        grid-template-columns: 1fr;
    }
}